/* account css */
* {
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

body {
    
    background: rgb(0, 0, 0, 0.5) url("/static/background.jpg");
    background-blend-mode: darken;
}

.messages{
color:red;
}

.container {
    position: absolute;
    margin-left: 36%;
    margin-top: 1%;
    width: 440px;
    height: 590px;
    background-color: black;

}

.logo img {
    width: 15%;
    margin-left: 30px;
}

.container h1 {
    color: white;
    margin-top: 60px;
    margin-left: 50px;
}

input {
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;

    border-radius: 3px;
    border: none;
    font-size: 20px;
}

input::placeholder {
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;

}

input[type=submit] {

    width: 320px;
    height: 45px;
    background-color: #49D257;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}
.form input[type="submit"][name="submit"] {
    color: black;
    font-weight: bold;
}
input[type=checkbox] {
    width: 25px;
    height: 18px;
    border-radius: 5px;

}

label {
    color: #464444;

}

.form a {
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: #333;
    text-decoration: none;
}

.content {
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;

}

.content h2 {
    color: #464444;

}

.container a {
    color: white;
    text-decoration: none;
}