account css
* {
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

body {
    
    background: rgb(0, 0, 0, 0.5) url("/static/background.jpg");
    background-blend-mode: darken;
}

.messages{
color:red;
}

.container {
    position: absolute;
    margin-left: 36%;
    margin-top: 1%;
    width: 440px;
    height: 590px;
    background-color: black;

}

.logo img {
    width: 15%;
    margin-left: 30px;
}

.container h1 {
    color: white;
    margin-top: 60px;
    margin-left: 50px;
}

input {
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;

    border-radius: 3px;
    border: none;
    font-size: 20px;
}

input::placeholder {
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;

}

input[type=submit] {

    width: 320px;
    height: 45px;
    background-color: #49D257;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}
.form input[type="submit"][name="submit"] {
    color: black;
    font-weight: bold;
}
input[type=checkbox] {
    width: 25px;
    height: 18px;
    border-radius: 5px;

}

label {
    color: #464444;

}

.form a {
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: #333;
    text-decoration: none;
}

.content {
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;

}

.content h2 {
    color: #464444;

}

.container a {
    color: white;
    text-decoration: none;
}
/* 
.body{
    margin: 0;
    padding: 0;
  
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
 
}
.logobox{
    width: 350px;
    height: 450px;
    background: rgb(0, 0, 0);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 20px;


}
.avatar{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    position: absolute; 
    top: -50px;
    left: calc(50% -50px);
}
.h1{
 margin: 0;
padding: 0 0 10px;
text-align: center;
font-size: 16px;
}
.logobox p{
    width: 100%;
    margin-bottom: 10px;


}
.logobox input{
    width: 100%;
    margin-bottom: 10px;
}
.logobox input[type="text"], input[type="Password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 12px;
}
.logobox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:green;
    color: #fff;
    font: size 18px;
border-radius: 20px;

}
.logobox input[type="submit"]:hover{
    cursor: pointer;
    background:#f2bc5e;
    color: #000;
}
.logobox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: chartreuse;

}
.logobox a:hover{
    color: orange;
}
 */
