<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies.css' %}">
    <style>
        * {
            font-family: cursive;
        }

        h1 {
            color: whitesmoke
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            list-style-type: none;
            margin: 20px;
        }
    </style>

</head>

<body>
    <img src="{% static 'Logo1.png' %}" alt="Logo">
    <div class="navbar">
        <a class="active" href="#movies">Movies</a>
        <a href="/series">TV Shows</a>
        <a href="/my-list">My List</a>
        <a href="/logout">Log out</a>

    </div>
    {% block content %}
    
    {% endblock %}
</body>

</html>