<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies.css' %}">
    <style>
        *{
    font-family: cursive;
        }
        h1{
        color:whitesmoke
        }
        .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
}

.movies li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movies li h1 {
  margin: 0;
  font-size: 1.2rem;
}

.movies li img {
  width: 100%;
  height: auto;
}
    </style>
    
</head>

<body>
    <img src="{% static 'Logo1.png' %}" alt="Logo">
    <div class="navbar">
        <a class="active" href="#movies">Movies</a>
        <a href="/series">TV Shows</a>
        <a href="/my-list">My List</a>
        <a href="/logout">Log out</a>
        
    </div>
    <div class="ko">
    <h1>{{ greet }}! {{ name }}</h1>
    </div>
    <div class="list">
        <h3>List of trending movies from this week</h3>
        <ul class="movies">
            {% load custom_filters %}
            {% for index in movie|length|num_range %}
            <li>
                <h1>{{ movie|get_item:index }}</h1>
                <img src="{{ url|get_item:index }}">
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>