<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Sign in Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="logo">
        
        <img src="{% static 'Logo1.png' %}" 8alt="Logo">
    </div>
    <div class="container">
        <h1>Sign In</h1>
        <div class="form" >
            <input type="email" placeholder="Email or Phone number" required name="email">
            <input type="password" placeholder="Password" required name="password">
            <input type="submit" value="Sign In" required name="submit">
            <input type="checkbox">
            <label>
                Remember me
            </label>
            <a href="#">Need Help</a>
        </div>
        <div class="content">
            <h2>New to Netflix? <a href="/register">Sign up now </a></h2>
        </div>
    </div>

</body>

</html>