<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
    
</head>
<body>
    <div class="container">
        <h1>Registration Form</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required placeholder="username">
    
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required placeholder="firstname">
    
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required placeholder="lastname">

            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" required placeholder="E-mail">
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="password">
    
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required placeholder="confirm password">
    
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>