/* movies css */
*{
    font-family: cursive;
    padding: 0;
    margin: 0;
        }
        

body {

    background: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


.ko{
color: beige;
}
h1{
    color:whitesmoke
    }
    
    ul{
    display: flex;
    flex-wrap: wrap;
    }
    li{
    list-style-type: none;
    margin: 20px;
    }

