# Production HOST & PORT
PROD_HOST = "0.0.0.0"
PROD_PORT = 8015

# Development HOST & PORT
DEV_HOST = "localhost"
DEV_PORT = 8015

# project-setting
PROJECT_NAME ="Agent-AI-Service"
API_V1_STR = "/api/v1"

# cors
BACKEND_CORS_ORIGINS = ["*"]

# database
MONGO_HOST = "exopy-mongo-service"
MONGO_PORT = "27017"
MONGO_DB = "agent-ai-service"
# Set default to None to easily detect if it's missing in .env
MONGO_URI = ""


# Redis HOST & PORT
REDIS_HOST="exopy-redis-service"
REDIS_PORT=6379

# openai
OPENAI_API_KEY = "awd"
FALLBACK_OPENAI_API_KEY = "test"

# Pinecone key
PINECONE_API_KEY = "test-api-key"
INDEX_NAME = "test-index"

# aws S3 bucket:
AWS_ACCESS_KEY_ID = "asdda"
AWS_SECRET_ACCESS_KEY = "asd"
BUCKET_NAME = "asdwed"

# Dashboard API
EXOPY_DASHBOARD_URL = "lsdnf"
EXOPY_DASHBOARD_KEY = "secret-api-key-here"